main {
    word-break: break-word;
}

main textarea {
    overflow: hidden;
    resize: none;
}

.comments .comment:not(:last-child) {
    margin-bottom: 12px;
}

.comments .delete-overlay {
    opacity: 0;
    transition: opacity 0.2s;
    background-color: #1a1a1a8f;
    color: var(--light);
    border-radius: 24px;
}

.comments .delete-overlay:hover {
    opacity: 1;
}

.comments .delete-comment {
    cursor: pointer;
}