main {
    word-break: break-word;
}

main textarea {
    overflow: hidden;
    resize: none;
}

.comments .comment:not(:last-child) {
    margin-bottom: 12px;
}

.comments .delete-overlay {
    opacity: 0;
    transition: opacity 0.2s;
    background-color: #1a1a1a8f;
    color: var(--light);
    border-radius: 24px;
}

.comments .delete-overlay:hover {
    opacity: 1;
}

.comments .delete-comment {
    cursor: pointer;
}

.modal {
    color: var(--dark);
}

.contributors .contributor:not(:last-child) {
    margin-bottom: 12px;
}

.handle-search input:focus {
    box-shadow: none;
}

.handle-search-results {
    background-color: var(--light);
    padding: 24px;
    border-end-start-radius: 0.375rem;
    border-end-end-radius: 0.375rem;
    border: 1px solid #ced4da;
    border-top: none;
    z-index: 20;
}

.releases .release:not(:last-child) {
    margin-bottom: 12px;
}