doctype html
html
    head
        block title

        block preHead

        include /main/includes/heads/default

        block postHead
    body
        block preMain

        .container
            main.main
                block content