extends /main/layouts/generic

include /main/mixins/projectpreview

block postHead
    link(rel="stylesheet" type="text/css" href="/css/project/preview.css")

block title
    title peppermint - dashboard

block content
    .recent-projects
        h4.user-select-none recently uploaded
        .row
            - for (let i = 0; i < projects.length; i++)
                +projectpreview(projects[i], "col-12 col-sm-6 col-md-4 col-lg-3")
    .own-projects.mt-4
        h4.user-select-none your projects
        .row
            - for (let i = 0; i < ownProjects.length; i++)
                +projectpreview(ownProjects[i], "col-12 col-sm-6 col-md-4 col-lg-3")