extends /main/layouts/generic

block title
    title peppermint - dashboard

block content
    .recent-projects
        h4.user-select-none recently uploaded
    .own-projects.mt-4
        h4.user-select-none your projects