extends /main/layouts/genericblock

block title
    title peppermint

block postHead
    link(rel="stylesheet" type="text/css" href="/css/loginblock/style.css")

block content
    .d-flex.justify-content-center.align-items-center.h-100
        .centre-thing
            .logo.d-flex.align-items-center.user-select-none
                .logo-image(style="width: 84px;")
                h1 peppermint

            .login-thing
                h3 login

                form(action="/login" method="POST")
                    .mb-2
                        label.form-label(for="username") username
                        input.form-control(type="text" name="username" id="username" placeholder="exampleusername" autocomplete="off")
                    .mb-2
                        label.form-label(for="password") password
                        input.form-control(type="password" name="password" id="password")
                    .mt-3
                        button.btn.btn-primary.w-100(type="submit") login
                    if (req.query.issue)
                        .mt-4(style="color: red;")= req.query.issue